.projH3 {
    text-align: center;
    color: red;
    margin-bottom: 25px;
}

.projH3::before {
    content: "";
    display: block;
    background: url("https://hjmportfolio.s3.us-west-2.amazonaws.com/1608733-20.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 10px;
}

.warning {
    width: 100%;
    margin-top: 25%;
}

@media only screen and (max-device-width: 480px) {
    .projH3 {
        font-size: 1rem;
    }
}