.item {
    height: 70%;
    width: 100%;
}

.cardImg {
    height: 100%;
}

.link {
    width: 100%;
    margin: auto;
}

@media only screen and (max-device-width: 480px) {

}

.carWrap {
    margin-top: 100px;
}

.projH1 {
    color: black;
}

.projH3 {
    text-align: center;
    color: red;
    margin-bottom: 25px;
}

.projH3::before {
    content: "";
    display: block;
    background: url("https://hjmportfolio.s3.us-west-2.amazonaws.com/1608733-20.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}

.warning {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    position: relative;
    margin-top: 10%;
    height: 20%;
}