.parent {
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 28px;
    color: var(--primary-3);
    margin-top: 0;
    animation: animated-text2 3s steps(30,end) 1s 1 normal both;
    animation-delay: 2s;
    margin-bottom: 0;
}

.parent:first-of-type {
    animation: animated-text1 3s steps(30,end) 1s 1 normal both;
    animation-delay: 0s;
    margin-top: 80%;
    margin-bottom: 0;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    width: 40%;
    align-items: center;
}

.emph {
    color: var(--primary-5);
}

.emph:first-of-type {
    color: var(--primary-2);
}

@media only screen and (max-device-width: 480px) {
    .parent {
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
/*        right: calc(50% - 175px);*/
        margin-top: 0;
        animation: animated-text4 4s steps(30,end) 1s 1 normal both;
        animation-delay: 3.75s;
    }
    .parent:first-of-type {
        margin-top: calc(55% - 70px);
        margin-bottom: 0;
        animation: animated-text1 4s steps(30,end) 1s 1 normal both;
        animation-delay: 0s;
    }
}

@keyframes animated-text1{
    from{width: 0;}
    to{width: 250px;}
}

@keyframes animated-text2{
    from{width: 0;}
    to{width: 350px;}
}

@keyframes animated-text4{
    from{width: 0;}
    to{width: 355px;}
}