.parent {
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
    font-size: 28px;
    color: var(--primary-3);
    position: fixed;
    margin-top: calc(55% - 40px);
    right: auto;
    left: calc(50% - 175px);
    filter: drop-shadow(0 0 10px var(--primary-3));
    animation: animated-text2 4s steps(30,end) 1s 1 normal both;
    animation-delay: 3.75s;
    bottom: 50%;
}

.parent:first-of-type {
    margin-top: calc(55% - 80px);
    left: calc(50% - 120px);
    bottom: calc(50% + 40px);
    animation: animated-text1 3s steps(30,end) 1s 1 normal both;
    animation-delay: unset;
}

.emph {
    color: var(--primary-5);
}

.emph:first-of-type {
    color: var(--primary-2);
}

.border1 {
    border-bottom: solid 3px var(--primary-5);
    border-image-slice: 1;
    position: absolute;
    right: -7px;
    width: 25px;
    animation: animated-cursor 1s steps(30,end) infinite,  disappear 0s ease-in 3.25s;
    animation-fill-mode: forwards;
}

.border2 {
    border-bottom: solid 3px var(--primary-5);
    position: absolute;
    right: -7px;
    width: 25px;
    animation: animated-cursor 1s steps(30,end) infinite;
}

@media only screen and (max-device-width: 480px) {
    .parent {
        font-size: 24px;
        left: calc(50% - 175px);
        margin-top: calc(50% - 10px);
        animation: animated-text4 4s steps(30,end) 1s 1 normal both;
        animation-delay: 4s;
    }
    .parent:first-of-type {
        margin-top: calc(55% - 70px);
        left: calc(50% - 120px);
        bottom: calc(50% + 40px);
        animation: animated-text1 3s steps(30,end) 1s 1 normal both;
    }
}

@keyframes animated-text1{
    from{width: 0;}
    to{width: 290px;}
}

@keyframes animated-text2{
    from{width: 0;}
    to{width: 410px;}
}

@keyframes animated-text4{
    from{width: 0;}
    to{width: 350px;}
}

@keyframes animated-cursor{
    from{border-bottom-color: var(--primary-5);}
    to{border-bottom-color: transparent;}
}

@keyframes disappear {
    to {
        border-bottom-color: rgba(0,0,0,0);
    }
}