.parent {
    height: 50px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 28px;
    color: var(--primary-3);
    animation: animated-text1 3s steps(30,end) 1s 1 normal both;
    animation-delay: 2s;
    width: auto;
    margin: 0 auto;
}

.parent:first-of-type {
    animation: animated-text1 3s steps(30,end) 1s 1 normal both;
    animation-delay: 0s;
    margin-top: 40%;
    width: auto;
}

.wrapper {

}

.emph {
    color: var(--primary-5);
}

.emph:first-of-type {
    color: var(--primary-2);
}

@media only screen and (min-device-width: 480px) {
    .parent {
        font-size: 24px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 50%;
        animation: animated-text1 4s steps(30,end) 1s 1 normal both;
        animation-delay: 3.75s;
    }
    .parent:first-of-type {
        margin-top: 20%;
        margin-bottom: 0;
        animation: animated-text1 4s steps(30,end) 1s 1 normal both;
        animation-delay: 0s;
    }
}

@keyframes animated-text1{
    from{width: 0;}
    to{width: 60%;}
}