.resume {
    position: relative;
    max-height: 700px;
    height: auto;
    width: 70%;
    margin-right: 15%;
    margin-left: auto;
    margin-top: 5%;
}

.resume img {
    position: relative;
    max-height: 700px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 100%;
}

.resume a::after {
    content:"\A";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background: rgba(0, 0, 0, .6) url("https://hjmportfolio.s3.us-west-2.amazonaws.com/1814119_launch_open_share_icon.svg") no-repeat center;
    background-size: 112px;
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.resume a:hover::after {
    opacity: 1;
}

@media only screen and (max-device-width: 480px) {
    .resume {
        margin-top: 5%;
        width: 90%;
        margin-right: 5%;
        padding: 0;
    }

    .resume a::after {
        background: rgba(0, 0, 0, 1) url("https://hjmportfolio.s3.us-west-2.amazonaws.com/1814103_click_finger_touch_icon.svg") no-repeat center;
        background-size: 112px;
        animation: touch 20s linear infinite;
    }

    @keyframes touch {
        0% {
            opacity: 0;
        }
        10% {
            opacity: .6;
        }
        20% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}