@import url('http://fonts.cdnfonts.com/css/american-typewriter');

:root {
    /*--backgroundColor: #2B2B2B;*/
    --backgroundColor: #ffffff;
    --off-white: #f1f3f3;
    --primary-1: #E181A0;
    --primary-2: #A1C9AD;
    --primary-3: #9AB7CE;
    --primary-4: #F2DF67;
    --primary-5: #E99F73;
    --font: 'American Typewriter', sans-serif;
    height: 100vh;
}

main {
    height: 100%;
}

img {
    width: 100%;
    height: auto;
    margin-right: auto !important;
    margin-left: auto !important;
}

#wrapper {
    height: 100vh;
    overflow: hidden;
}

#oct {
    position: fixed;
    height: auto;
    width: 500px;
    bottom: 10%;
    right: auto;
    left: calc(50% - 250px);
}

@media only screen and (max-device-width: 480px) {
    #oct {
        width: 90%;
        left: 5%;
    }
}

body {
    font-family: var(--font);
    color: var(--off-white);
    font-size: 1em;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor);
    margin: 0;
    padding: 0;
}

.landing {
    background-color: var(--primary-4);
    filter: drop-shadow(0 0 10px var(--primary-4));
}

.resume {
    background-color: var(--primary-3);
    filter: drop-shadow(0 0 10px var(--primary-3));
}

.projects {
    background-color: var(--primary-5);
    filter: drop-shadow(0 0 10px var(--primary-5));
}

.contact {
    background-color: var(--primary-2);
    filter: drop-shadow(0 0 10px var(--primary-2));
}

@keyframes squish {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: scaleY(.95) scaleX(1.05);
        transform: scaleY(.95) scaleX(1.05);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

#oct:hover {
    animation: squish 1s;
}

.nav-link {
    display: flex;
    justify-content: center;
    color: rgba(250,250,250,0.6);
}

.nav-link:hover {
    color: rgba(250,250,250,1);
}

.navbar-collapse {
    position: absolute;
    right: 20px;
    bottom: 0;
    height: 30px;
}

.navbar-nav {
    background-color: #9AB7CE;
}

@media only screen and (max-device-width: 767px) {
    .navbar-collapse {
        position: unset;
        right: unset;
        bottom: unset;
        height: unset;
    }
}

button {
    color: unset;
}

.navbar-toggler {
    border: none;
}

.carousel-control-prev, .carousel-control-next {
    color: #E181A0;
    transition: all .2s ease-in-out;
}

.carousel-control-next {
    right: -15%;
}

.carousel-control-prev {
    left: -10%;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    transform: scale(1.1);
}

.sr-only {
    visibility: hidden;
}

.carousel-control-next-icon {
    background-image: url('https://hjmportfolio.s3.us-west-2.amazonaws.com/next.svg');
    width: 4rem;
    height: 4rem;
}

.carousel-control-prev-icon {
    background-image: url('https://hjmportfolio.s3.us-west-2.amazonaws.com/prev.svg');
    width: 4rem;
    height: 4rem;
}

.slide {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.carousel-inner {
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1000px;
}