:root {
    --backgroundColor: #ffffff;
    --off-white: #f1f3f3;
    --primary-1: #E181A0;
    --primary-2: #A1C9AD;
    --primary-3: #9AB7CE;
    --primary-4: #f2df67;
    --primary-5: #E99F73;
    --font: omnes-pro sans-serif 400 normal;
}

main {
    height: 100%;
}

#wrapper {
    height: 100vh;
    overflow: hidden;
}

#oct {
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5%;
}

@media (max-width: 480px) {
    #oct {
        width: 80%;
        left: 10%;
        margin-top: 5%;
    }
}

body {
    font-family: var(--font);
    color: var(--off-white);
    font-size: 1em;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor);
    margin: 0;
    padding: 0;
}

.landing {
    background-color: var(--primary-4);
    filter: drop-shadow(0 0 10px var(--primary-4));
}

.resume {
    background-color: var(--primary-3);
    filter: drop-shadow(0 0 10px var(--primary-3));
}

.projects {
    background-color: var(--primary-5);
    filter: drop-shadow(0 0 10px var(--primary-5));
}

.contact {
    background-color: var(--primary-2);
    filter: drop-shadow(0 0 10px var(--primary-2));
}

@keyframes squish {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: scaleY(.95) scaleX(1.05);
        transform: scaleY(.95) scaleX(1.05);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

#oct:hover {
    animation: squish 1s;
}

.nav-link {
    position: relative;
    display: flex;
    color: rgba(80,76,73,.8);
    padding: 0;
    margin-left: 10px;
}

.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.nav-link:hover {
    color: rgba(0,0,0,1);
}

.navbar-nav {
    padding: 10px 20px;
    margin-top: auto;
    height: 25px;
}

@media (max-width: 768px) {
    .navbar-nav {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: auto;
        background-color: white;
        padding: 0;
        margin-left: 0;
    }

    .nav-link {
        justify-content: right;
        padding: 0;
        margin-left: 0;
    }

    .nav-expand-md {
        padding: 0;
    }

    .card-img-top {
        height: 100%;
    }

    .card {
        height: 35% !important;
        width: 100%;
    }
}

button {
    color: unset;
}

.navbar-toggler {
    border: none;
    transition: transform 1s ease;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.sr-only {
    visibility: hidden;
}

.card {
    position: relative;
    margin: 10px;
    transition: all .2s ease-in-out;
    height: 250px;
}

.card:hover {
    transform: scale(1.2);
    z-index: 1000;
}

.card-body {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}

a:hover {
    cursor: pointer;
}