:root {
    --backgroundColor: #ffffff;
    --off-white: #f1f3f3;
    --primary-1: #E181A0;
    --primary-2: #A1C9AD;
    --primary-3: #9AB7CE;
    --primary-4: #f2df67;
    --primary-5: #E99F73;
    --font: omnes-pro sans-serif 400 normal;
}

main {
    height: 100%;
}

img {
    width: 100%;
    height: auto;
    margin-right: auto !important;
    margin-left: auto !important;
}

#wrapper {
    height: 100vh;
    overflow: hidden;
}

#oct {
    position: fixed;
    height: auto;
    width: 400px;
    top: 55%;
    right: auto;
    left: calc(50% - 200px);
}

@media only screen and (max-device-width: 480px) {
    #oct {
        width: 70%;
        left: 15%;
    }
}

body {
    font-family: var(--font);
    color: var(--off-white);
    font-size: 1em;
    height: 100%;
    width: 100%;
    background-color: var(--backgroundColor);
    margin: 0;
    padding: 0;
}

.landing {
    background-color: var(--primary-4);
    filter: drop-shadow(0 0 10px var(--primary-4));
}

.resume {
    background-color: var(--primary-3);
    filter: drop-shadow(0 0 10px var(--primary-3));
}

.projects {
    background-color: var(--primary-5);
    filter: drop-shadow(0 0 10px var(--primary-5));
}

.contact {
    background-color: var(--primary-2);
    filter: drop-shadow(0 0 10px var(--primary-2));
}

@keyframes squish {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: scaleY(.95) scaleX(1.05);
        transform: scaleY(.95) scaleX(1.05);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

#oct:hover {
    animation: squish 1s;
}

.nav-link {
    position: relative;
    display: flex;
    justify-content: center;
    color: rgba(80,76,73,.8);
    padding: 0 !important;
}

.nav-link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-link:hover::before {
    transform: scaleX(1);
}

.nav-link:hover {
    color: rgba(0,0,0,1);
}

.navbar-collapse {
    justify-content: left;
}

.navbar-nav {
    padding: 10px 20px;
    height: 25px;
}

@media only screen and (max-device-width: 767px) {
    .navbar-nav {
        position: absolute;
        right: 0;
        z-index: 10;
        padding: 0 10px 0 0;
    }

    .nav-link {
        justify-content: right;
        text-align: right;
    }

    .nav-link::before {
        content: none;
        visibility: hidden;
    }
}

button {
    color: unset;
}

.navbar-toggler {
    border: none;
    transition: transform 1s ease;
}

.navbar-toggler:focus {
    box-shadow: none;
    transform: rotate(45deg);
}

.carousel-control-prev, .carousel-control-next {
    color: #E181A0;
    transition: all .2s ease-in-out;
}

.carousel-control-next {
    right: -15%;
}

.carousel-control-prev {
    left: -10%;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    transform: scale(1.1);
}

.sr-only {
    visibility: hidden;
}

.carousel-control-next-icon {
    background-image: url('https://hjmportfolio.s3.us-west-2.amazonaws.com/next.svg');
    width: 4rem;
    height: 4rem;
}

.carousel-control-prev-icon {
    background-image: url('https://hjmportfolio.s3.us-west-2.amazonaws.com/prev.svg');
    width: 4rem;
    height: 4rem;
}

.slide {
    width: 80%;
    height: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
}

.carousel-inner {
    height: 100%;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.carousel-item {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1000px;
}