.navItem {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    margin-right: 20px;
}

.navItem:last-of-type {
    padding-bottom: 15px;
}

.logo {
    flex-grow: 1;
    height: 60px;
    width: auto;
}

@keyframes squish {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: scaleY(.95) scaleX(1.05);
        transform: scaleY(.95) scaleX(1.05);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.logo:hover {
    animation: squish 1s;
}

.logoC {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.logoL::before {
    visibility: hidden;
}

.toggler {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    background-image: url("https://hjmportfolio.s3.us-west-2.amazonaws.com/menu.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    padding-right: 30px;
}

@media only screen and (min-device-width: 480px) {
    .nav {
        padding-right: 25px;
    }

    .logoC {
        margin: 5px 5% 5px 10px;
    }

    .navItem {
        font-size: 1em;
        margin: 0;
    }
}