/*.nav {
    background-color: rgba(0, 0, 0, .75);
    border-bottom: 10px solid transparent;
    border-image: linear-gradient(to right, var(--primary-1) 0%, var(--primary-2) 25%, var(--primary-3) 50%, var(--primary-4) 75%, var(--primary-5) 100%);
    border-image-slice: 1;
    padding-bottom: unset;
}*/

.navItem {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    margin-right: 10px;
}

.navItem:last-of-type {
    padding-bottom: 15px;
}

.logo {
    flex-grow: 1;
    height: 60px;
    width: auto;
}

@keyframes squish {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: scaleY(.95) scaleX(1.05);
        transform: scaleY(.95) scaleX(1.05);
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.logo:hover {
    animation: squish 1s;
}

.logoC {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;

/*    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    animation:slidebg 5s linear infinite;*/
}

.logoL::before {
    visibility: hidden;
}

.toggler {
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
    background-image: url("https://hjmportfolio.s3.us-west-2.amazonaws.com/menu.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    padding-right: 30px;
}

@media only screen and (max-device-width: 480px) {
    .nav {
        padding-right: 25px;
    }

    .logoC {
        margin: 5px 15% 5px 10px;
    }

    .navItem {
        font-size: 1em;
    }
}
